<div class="col-md m-3 p-2">
    <div class="card card-recipe">
        {{#if feature_image}}
        <img src="{{feature_image}}" class="card-img" alt="{{title}}">
        {{/if}}
        <div class="card-body">
            <a href="{{url}}">
                <h5 class="card-title">
                    {{title}}>
                </h5>
            </a>

            <p class="card-text text-truncate-heigth">
                {{#if meta_description}}
                    {{meta_description}}
                {{else}}
                    {{excerpt word="20"}}...
                {{/if}}</p>
            <p class="card-text text-muted">{{name}} in {{tags}} on <time>{{date}}</time></p>
        </div>
    </div>
</div>