{{!< default}}

{{#tag}}
<header class="post__background-image hero-background" style="background-image: url({{feature_image}});">
        <div class="post__background-imge-text">
            <h1 class="title text-white">{{name}}</h1>
        </div>
    </header>
{{/tag}}

{{#foreach posts}}
<div class="container text-center">
  <a href="{{url}}" class="text-muted">
    <div class="title mt-2 mb-2">
      <h1 class="text-uppercase">{{title}}
      </h1>
    </div>
    <div class="row">       
      <div class="col-lg m-3 p-3 d-block">
        <p class="text-break text-left center-align w-100 position-relative center-align">
          {{#if description}}
          {{description}}
          {{else}}
          Descrizione non disponile
          {{/if}}
        </p>
      </div>
      <div class="col-lg m-3 p-3 d-block">
        <img src="{{feature_image}}" class="wwa-img position-relative w-100 center-align">
      </div>
    </div>
  </a>
  
  {{#if @first}}
  <div class="separator"></div>
  {{/if}}
</div>
{{/foreach}}